/* Add here all your css styles (customizations) */


/* Loading Spinner */
.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Nav bar drop down */
.nav-item.dropdown {
	margin-top:-7px;
}
.dropdown-menu {
  background-color: #000;
}

a.dropdown-item {
	color: #fff;
}
a.dropdown-item:hover {
	color:#f7b221;
	background-color: #111;
}


span.hamburger-inner, span.hamburger-box {
	color:#f7b221 !important;
}


